@{
    var organisation = "Cooper Solutions";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @organisation Mot Check</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="site-row-layout">
        <div class="site-col-layout">
            <div class="site-content">
                <div class="container">
                    @RenderBody()
                    <hr />
                    <div id="root"></div>
                </div>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - @organisation
                - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                | <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            </div>
        </footer>
    </div>

    <div class="layout-container">
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/dist/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
