
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card border-danger">
    <div class="card-header">Expired</div>
    <div class="card-body text-danger">
        <div class="card-text">The MOT for this vehicle has expired</div>
        <ul>
            <li>Call to action</li>
        </ul>
    </div>
</div>