@model MotCheckResponse

<p>
    We were unable to find any MOT details for this vehicle registration.
</p>
<p>
    This could be because
</p>
<ul>
    <li>The vehicle has not yet been registered with DVLA</li>
    <li>The regitsration was mis typed</li>
    <li>We were unable to contact the MOT status checking service</li>
</ul>