@model MotCheckResponse


    <dl class="row">
        <dt class="col-sm-6"><label asp-for="Registration"></label></dt>
        <dd class="col-sm-6">@Html.DisplayFor(m => m.Registration)</dd>
        <dt class="col-sm-6"><label asp-for="Manufacturer"></label></dt>
        <dd class="col-sm-6">@Html.DisplayFor(m => m.Manufacturer)</dd>
        <dt class="col-sm-6"><label asp-for="Model"></label></dt>
        <dd class="col-sm-6">@Html.DisplayFor(m => m.Model)</dd>
        <dt class="col-sm-6"><label asp-for="Status"></label></dt>
        <dd class="col-sm-6">This vehicle does not require an MOT. This is normally becasue the vehicle was first registered less than 3 years ago.</dd>
    </dl>

