@model MotCheckResponse

    <dl class="row">
        <dt class="col-sm-6"><label asp-for="Registration"></label></dt>
        <dt class="col-sm-6"><input asp-for="Registration" readonly /></dt>
    </dl>