@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Sample POC of MOT status lookup web site</li>
</ul>

<h2>Credits</h2>
<h3>Background Image</h3>
<ul>
    <li><a href="http://www.freepik.com">Designed by Peoplecreations / Freepik</a></li>
</ul>