@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut gravida massa. Nunc at consequat odio. Nunc sagittis, nibh ut maximus sodales, elit risus ultrices justo, vitae viverra ex erat semper urna. Praesent at orci nec sapien tincidunt tristique. Nam vel nisi sed nibh scelerisque posuere eget in metus. Praesent sagittis consequat sollicitudin. Donec eu lobortis risus, sed cursus dolor. Suspendisse nec dolor id libero efficitur viverra non ac arcu. Praesent quis ultricies mi.</p>

<p>Phasellus sit amet libero pulvinar, ullamcorper mi eu, ullamcorper lacus. Aliquam id nibh a sapien semper porttitor in vitae tortor. Nulla eleifend erat quis tortor consequat, id tincidunt enim pretium. Nullam et malesuada lectus, at tincidunt eros. Sed aliquet, metus ac porta placerat, diam nulla venenatis erat, blandit consequat sem tortor finibus magna. Nam nec diam eget risus faucibus viverra. Aliquam et sollicitudin ipsum. In maximus fringilla tempor. Nam nibh libero, tempor id ipsum quis, mollis cursus neque. Sed pharetra sem vel nisi egestas gravida. In rutrum dignissim erat auctor eleifend. Curabitur luctus metus non ipsum congue viverra. Nullam elementum lacinia egestas.</p>

<p>Integer a ex placerat, volutpat ipsum nec, aliquet felis. Donec non rhoncus mauris. Cras tempor tristique dui a iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nunc augue, feugiat at suscipit et, elementum id sapien. Donec non aliquam urna, lacinia venenatis dui. Sed imperdiet consectetur metus sit amet interdum. Integer fermentum tempus nisl, non lacinia arcu posuere id. Fusce libero elit, commodo ut mi id, consectetur aliquam ligula. Sed condimentum orci id elit mollis, vel molestie nunc lobortis. Donec eget odio sit amet urna euismod pellentesque. Proin ut fringilla metus. Donec metus magna, rhoncus ac nisi id, viverra interdum libero.</p>

<p>Mauris sed convallis justo, vitae aliquet arcu. Pellentesque efficitur sed massa quis luctus. Vestibulum sed pellentesque est. Morbi maximus nunc nec porttitor consectetur. Maecenas vitae nisi nec erat vulputate dictum. Proin vitae iaculis velit. Morbi ultricies leo at diam vehicula, a vulputate tortor fermentum. Sed id sapien eget dui semper pharetra ac nec lacus.</p>

<p>Curabitur non molestie neque. Etiam et felis scelerisque, aliquet nibh eget, fermentum ex. Donec fringilla justo at porttitor ultrices. Ut luctus mi in augue vestibulum, in vulputate nibh accumsan. Proin posuere pretium sem ut vulputate. Nam et neque a felis dictum pulvinar eu at eros. Nam sollicitudin lorem eu semper euismod. Mauris mattis dapibus tempus.</p>